.about-component {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.about-description {
  vertical-align: middle;
}

.view-more {
  padding: 0 5rem;
  color: blue;
  cursor: pointer;
}

.view-more:hover {
  font-size: 1.1rem;
}

.page {
  text-align: justify;
}
