body {
  font-family: "Poppins", sans-serif;
}

.navbar-color {
  background: blue;
}

.center-image {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.center-image img {
  max-width: 60%;
  border-radius: 30%;
}

.about-component {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.about-description {
  vertical-align: middle;
}

.view-more {
  padding: 0 5rem;
  color: blue;
  cursor: pointer;
}

.view-more:hover {
  font-size: 1.1rem;
}

.investment-title {
  text-align: center;
  padding-bottom: 3rem;
}

.investment-center-img {
  text-align: center;
}

.investment-row-img {
  padding-bottom: 3rem;
}

.footer-container {
  color: #c4c4c4;
}

.container-fluid {
  margin-top: 95px;
}

.footer {
  background: blue;
  padding: 1rem;
  color: #c4c4c4;
}

.footer-link {
  list-style-type: none;
}

.footer-link li {
  margin: 0.2em 0;
}

.footer-link li:hover {
  color: #ffffff;
  cursor: pointer;
  text-decoration: underline;
}

.footer-download-icon {
  color: rgba(225, 225, 225, 75%);
  text-align: center;
  font-size: 4em;
}

.footer-download-icon i:hover {
  color: white;
  cursor: pointer;
}

.footer-brand {
  background: #18106e;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-item {
  margin: 3rem 0;
  cursor: pointer;
}

.card-item-single {
  box-shadow: 0.5rem 0.5rem#e7e7e7;
  border-radius: 2%;
}

.card-item-single img {
  border-radius: 2%;
  max-width: 100%;
}

.card-footer-text i,
.card-footer-text span {
  margin-left: 1rem;
}

.page-container {
  margin-top: 56px;
}

.detail-font {
  text-align: center;
}

.grafik {
  width: 30rem;
}

.tab-box {
  box-sizing: 12rem;
}

.tab-content {
  height: 404px;
}

.pagination {
  margin-left: 15rem;
}

.form-heading {
  text-align: center;
  margin: 47px;
}

.form {
  margin: 65px 23px;
  /* width: 25rem; */
}
