.container__ads {
    padding: 100px 125px;
    margin-left: -50px;
    img {
        width: 105%;
        box-shadow: 0 5px 30px rgba(0,0,0,.2);
        border-radius: 30px;
        cursor: pointer;
    }
}