.footer-container {
  color: #c4c4c4;
}

.container-fluid {
  margin-top: 95px;
}

.footer {
  background: black;
  padding: 1rem;
  color: #c4c4c4;
}

.footer-link {
  list-style-type: none;
}

.footer-link li {
  margin: 0.2em 0;
}

.footer-link li:hover {
  color: #ffffff;
  cursor: pointer;
  text-decoration: underline;
}

.footer-download-icon {
  color: rgba(225, 225, 225, 75%);
  text-align: center;
  font-size: 4em;
}

.footer-download-icon i:hover {
  color: white;
  cursor: pointer;
}

.footer-brand {
  background: #302b63;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
