.container__contactus {
    padding: 0px 200px;

    .title__contactus {
        display: flex;

        h3 {
            width: 30%;
            display: flex;
            align-items: center;
            font-weight: 600;
        }

        p {
            margin-left: 10px;
            border-left: 1px solid #e1e1e1;
            padding-left: 20px;
            color: #777777;
        }
    }
    
    .containerinput__contactus {
        display: flex;
        margin-top: 20px;

        .containerinput__lastphone {
          padding:10px;

          label {
              font-size: 14px;
          }

          #phone {
            margin-top: 10px;
        }

          
        }

        .containerinput__namemail {
            padding:10px;
            label {
                font-size: 14px;
            }

            #email {
                margin-top: 10px;
            }
        }

        .containerinput__textarea {
            padding:10px;
            label {
                font-size: 14px;
            }

            textarea {
                height: 100px;
    max-height: 238px;
            }
        }
        
    }

    button {
        padding: 15px 30px;
        color: #fff;
    background-color: #54B04D;
    border-color:none;
    border-radius: 5px;
    margin-left: 10px;
    }
}