.ant-form-item-label {
    text-align: left;
}

.ant-col-8 {
    display: block;
    -ms-flex: 0 0 33.33333333%;
    flex: 0 0 33.33333333%;
    max-width: 10%;
}

.ant-input {
    width: 40%;
}

.ant-input-affix-wrapper {
    width: 40%;
}

