.container__payment {
    padding: 150px 100px 0px 100px;
    display: flex;

    .container__left {
        width: 70%;
        padding: 30px 100px 100px 100px;

        .container__content {
            width: 90%;
            h5 {
                margin-bottom: 25px;
                text-align: center;
                background-color: #54CCB5;
                color:white;
                padding:8px;
                border-radius: 15px;
                width: 60%;
                text-align: center;
                margin-left: 60px;
                margin-top: 25px;
            }

            p {
                font-size: 13px;
                line-height: 25px;
            }
        }

        img {
            width: 80%;
        }
    }

    .container__right {
        h4 {
            font-weight: 900;
            font-size: 1.2rem;
            letter-spacing: 1.5px;
        }

       label {
           font-size: 0.8rem;
           letter-spacing: 1px;
       }
       
        input {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .95rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
       }
    }
}